@{
    ViewBag.Title = "Borrow Book";
}

<section class="page-section">

    <h1>Borrow Book</h1>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message <br />
            Book: @ViewBag.BookTitle
        </div>
    }

    <form method="post" class="form-box">

        <label>Member Name</label>

        <input type="text"
               name="memberName"
               value="@ViewBag.MemberName"
               readonly />

        <label>Book Title</label>

        <input type="text"
               name="bookTitle"
               value="@ViewBag.BookTitle"
               readonly />

        <button type="submit" class="btn-primary">
            Submit Borrow Request
        </button>

    </form>

</section>