@{
    ViewBag.Title = "Login";
}

<section class="page-section">

    <h1>Login</h1>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
    }

    <form method="post" class="form-box">

        <label>Username</label>

        <input type="text"
               name="username"
               placeholder="Enter username"
               required />

        <label>Password</label>

        <input type="password"
               name="password"
               placeholder="Enter password"
               required />

        <button type="submit" class="btn-primary">
            Login
        </button>

    </form>

</section>