<h2>Manage Library Profile</h2>

<form>
    <label>Library Name</label>
    <input class="form-control" type="text" placeholder="KOI Online Library" />

    <label>Location</label>
    <input class="form-control" type="text" placeholder="Sydney, NSW" />

    <label>Operating Hours</label>
    <input class="form-control" type="text" placeholder="9:00 AM - 5:00 PM" />

    <label>Contact Email</label>
    <input class="form-control" type="email" placeholder="library@koi.edu.au" />

    <br />
    <button class="btn btn-primary">Save Library Info</button>
</form>